@import '../../../global-styles/global.scss';

.container {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

.items {
  background-color: #cccc;
  margin: 20px;
  border-radius: 10px;
}
