@import '../../global-styles/global.scss';

.row {
  width: 100%;
  height: auto;
}

.even {
  background-color: $green-6;
}

.odd {
  background-color: $white;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;

  &-set {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.feedback {
  background-color: $white;
  border-top: 1px solid $gray-5;
  padding: 10px;

  &-app {
    height: 300px;
    overflow-y: scroll;
  }
}

.icon {
  display: inline-flex;
  cursor: pointer;

  > svg {
    font-size: 30px;
  }

  &-active {
    color: $green-4;
  }

  &-inactive {
    color: $green-1;
  }
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 5px solid $gray-3;
  margin-right: 10px;
  // box-shadow: 1px 1px 2px 2px $gray-2;
}

.trophy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  &-rank {
    width: 11px;
    height: 11px;
    border: 1px solid $gray-3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 12px;
  }

  &-icon {
    color: $yellow-3;
    font-size: 45px !important;
  }
}

.pad-bottom {
  padding-bottom: 5px;
}
