@import '../../../global-styles/global.scss';

.scroller {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100vw;
  border: 1px solid $gray-5;
  height: 180px;
  justify-content: center;

  &-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
