.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

.analysis {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/analysis.svg);
}

.analysis-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/analysis-active.svg);
}

.tips {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/tips.svg);
}

.tips-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/tips-active.svg);
}

.tips2 {
  width: 64px;
  height: 24px;
  background-image: url(\./assets/tips2.svg);
}

.tips2-active {
  width: 64px;
  height: 24px;
  background-image: url(\./assets/tips2-active.svg);
}

.comment {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/comment.svg);
}

.comment-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/comment-active.svg);
}

.company-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/company-active.svg);
}

.company {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/company.svg);
}

.dashboard-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/dashboard-active.svg);
}

.dashboard {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/dashboard.svg);
}

.data-input-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/data-input-active.svg);
}

.data-input {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/data-input.svg);
}

.dictionary {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/dictionary.svg);
}

.dictionary-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/dictionary-active.svg);
}

.fraud {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/fraud.svg);
}

.fraud-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/fraud-active.svg);
}

.format-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/format-active.svg);
}

.format {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/format.svg);
}

.graph {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/graph.svg);
}

.graph-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/graph-active.svg);
}

.home-active {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/home-active.svg);
}

.home {
  width: 48px;
  height: 48px;
  background-image: url(\./assets/home.svg);
}

.man-logo-1 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-01.png);
}

.man-logo-2 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-02.png);
}

.man-logo-3 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-03.png);
}

.man-logo-4 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-04.png);
}

.man-logo-5 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-05.png);
}

.man-logo-6 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-06.png);
}

.man-logo-7 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-07.png);
}

.man-logo-8 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-08.png);
}

.man-logo-9 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-09.png);
}

.man-logo-10 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-10.png);
}

.man-logo-11 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-11.png);
}

.man-logo-12 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-12.png);
}

.man-logo-13 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-13.png);
}

.man-logo-14 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-14.png);
}

.man-logo-15 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-15.png);
}

.man-logo-16 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-16.png);
}

.man-logo-17 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-17.png);
}

.man-logo-18 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-18.png);
}

.man-logo-19 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-19.png);
}

.man-logo-20 {
  width: 50px;
  height: 50px;
  background-image: url(\./assets/man-logo-20.png);
}

.logo-main {
  width: 315px;
  height: 227px;
  background-image: url(\./assets/logo-main.png);
}

.logo-main-mono {
  width: 331px;
  height: 64px;
  background-image: url(\./assets/logo-main-mono.png);
}

.logo-header {
  width: 332px;
  height: 70px;
  background-image: url(\./assets/logo-header.png);
}

.logo-header-mono {
  width: 331px;
  height: 64px;
  background-image: url(\./assets/logo-header-mono.png);
}

.avatar-joe {
  width: 70px;
  height: 70px;
  background-image: url(\./assets/avatar-joe.png);
}

.avatar-mei {
  width: 70px;
  height: 70px;
  background-image: url(\./assets/avatar-mei.png);
}

.avatar-suto {
  width: 70px;
  height: 70px;
  background-image: url(\./assets/avatar-suto.png);
}

.avatar-nakayama {
  width: 70px;
  height: 70px;
  background-image: url(\./assets/avatar-nakayama.png);
}

.avatar-min {
  width: 70px;
  height: 70px;
  background-image: url(\./assets/avatar-min.png);
}

.avatar-don {
  width: 70px;
  height: 70px;
  background-image: url(\./assets/avatar-don.png);
}

.store-heatmap-1 {
  width: 633px;
  height: 308px;
  background-image: url(\./assets/store-heatmap-1.png);
}

.store-heatmap-2 {
  width: 661px;
  height: 313px;
  background-image: url(\./assets/store-heatmap-2.png);
}
